*{
    font-family: poppins;
}

/* This removes the hyperlink line from under any link on the website */
a{
    text-decoration: none;
}

body{
    background-color: rgb(255, 255, 255);
    font-family: oswald;
}

h1{
    font-size: 60px;
    font-style: bold;
    padding-left:40px
}

p{
    font-size: 25px;
    border-radius: 20px;
    padding-left:40px
}

#firstp{
    font-size: 30px;
}
/* Navigation bar*/

li{
    font-size: 30px;
    margin-left: auto;
    list-style: none;
    padding: 40px;
}

.home :hover{
    color: green;
}

.charity :hover{
    color: red;
}

.business :hover{
    color: black;
}


nav{
    display: flex;
    padding: 2% 6%;
    justify-content: space-between;
    align-items: center;
    flex: 1%;
    text-align: right;
}

.nav-links {
    flex: 1;
    text-align: right;
}
/* End Navigation bar*/